################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.db
/ClaimsMS/.vs/ClaimsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/ClaimsMS/.vs/ClaimsMS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/ClaimsMS/.vs/ClaimsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/ClaimsMS/.vs/ClaimsMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/ClaimsMS/.vs/ClaimsMS/DesignTimeBuild/.dtbcache.v2
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/41d9bcc8-1ff3-4c10-b55b-ef8b69681e7c.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/615dc67d-2e7f-4942-a395-210c38e27e73.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/a8caf390-1686-4596-a3b9-b0c8a0b9fdc7.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/c4662ca6-f1c1-486d-907e-935874aa2e67.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/cb516ed0-95e9-493d-8a6a-f292ae080219.vsidx
/ClaimsMS/.vs/ClaimsMS/v17/.futdcache.v2
/ClaimsMS/.vs/ClaimsMS/v17/.suo
/ClaimsMS/.vs/ClaimsMS/v17/DocumentLayout.backup.json
/ClaimsMS/.vs/ClaimsMS/v17/DocumentLayout.json
/ClaimsMS/.vs/ProjectEvaluation/claimsms.metadata.v9.bin
/ClaimsMS/.vs/ProjectEvaluation/claimsms.projects.v9.bin
/ClaimsMS/.vs/ProjectEvaluation/claimsms.strings.v9.bin
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/01420a97-959e-45c9-95b1-02590f69b664.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/695af1af-243d-441f-822e-7a629d3c267d.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/ebf80df7-676c-4169-b9b8-f8595f6173b3.vsidx
/ClaimsMS/.vs/ClaimsMS/config/applicationhost.config
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/507e629b-b35d-4371-a437-7271e41253fb.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/853d3c17-72fa-494f-acdc-19e38492841d.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/aab03a4f-3ad4-419e-8da7-6fcefb72208a.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/be2a5a0e-5c90-474e-b55d-f8264457e602.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/ff99da60-d06a-4426-9128-f43250d262cc.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/2a071e18-203c-4cba-92a0-4d56018009dd.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/791b2d43-5170-4c89-89a2-47944c136694.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/7bd0dbd5-3e07-4a26-bad0-80ec1617df48.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/bb325cc5-a8a0-423b-929b-f19527e34294.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/ddd22d67-a008-43a9-90d1-a12a33dfd763.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/515f334d-b60b-4d90-9cd2-0d3f94c86856.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/6d65be31-a21c-4241-af6e-74d8ea3a5043.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/0f251e8b-82f1-42c2-a7d8-a162b71dd68e.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/2ddded50-ef5f-481d-b3c3-8c64632f5ada.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/6b08a05b-06bb-4703-94b2-b075c22b2147.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/d0034fdc-93a1-4e05-93af-660ce7bbb791.vsidx
/ClaimsMS/.vs/ClaimsMS/FileContentIndex/d96d0c85-72b8-4e7e-b591-28578dde0d0e.vsidx
